.text-container{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container a{
    align-self: flex-end;
    cursor: pointer;
    margin: 10px;
}

.text-container p{
    padding: 30px 40px;
    font-size: 20px;
    color: rgb(71, 68, 68);
}